a.login {
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: monospace;
    font-style: oblique;
    font-weight: bold;
    text-decoration: wavy;
}

.dataTables_filter,
.dataTables_length,
#example_info {

    color: white;
    font-weight: bolder;
}

.menu ul {
    display: contents;
    list-style: none;
}

.menu ul li {
    display: inline-block;
    margin-right: 12px;
}

.menu ul li a {
    color: white;
    font-weight: bolder;
    text-decoration: wavy;
}


.menu{
display: flex;
justify-content: space-between;
width: 110%;
}