@import url('https://fonts.googleapis.com/css2?family=The+Nautigal&display=swap');
h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 110px;
    font-family: 'The Nautigal', cursive;
}

body {
    background: url('../images/writters.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.9;
}


a {
    text-decoration: wavy;
    margin-left: 4px;
}

#edit {
    color: azure;
}

#voir {
    color: rgb(255, 230, 0);
}

