{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Administration Panel
{% endblock %}
{% block page_actions %}
	<a class="btn btn-primary" href="#">Some Action</a>
{% endblock %}


{% block content %}
	<div class="jumbotron">
		<h1 class="display-4">Administration</h1>
	</div>
{% endblock %}
